* {
    box-sizing: border-box;
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .fa {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .fa {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: normal;
    }
}

@media (max-width: 992px) {
    #archive {
        transform: none;
    }
    
    #music {
        transform: none;
    }

    #programm {
        transform: none;
    }

    #inside-counter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .count-unit {
        min-width: 100px;
    }

    .count-unit span:first-child {
        font-size: 10vw;
    }
    
    .count-unit span:last-child {
        font-size: 2vw;
    }
    
    .info-buttons {
        align-self: start;
        margin-left: 0px;
    }

    #social-media {
        align-self: end;
    }

    .footer-bar {
        margin: 0.3vw;
    }
    
    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        position: fixed;
    }
}

@media (max-width: 730px) {
    #background-banner-video {
        object-position: center;
    }

    #archive {
        display: none;
    }

    #music {
        margin-top: auto;
        transform: none;
    }

    #title-canvas {
        display: none;
    }

    #programm:hover,#archive:hover,#music:hover {
        transform: rotate(-0deg) !important;
    }

    .menu-icon {
        margin-top: -4px;
        align-items: right;
    }

    .title-bar-content {
        margin: 0vw;
        display: flex;
        flex-wrap: wrap;
    }

    #inside-counter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .count-unit span:first-child {
        font-size: 10vw;
    }
    
    .count-unit span:last-child {
        font-size: 2vw;
    }
    
    .info-buttons {
        align-self: start;
    }

    #social-media {
        align-self: end;
    }


    footer {
        position: fixed;
    }

    .footer-bar {
        margin: 0.5vw;
    }

    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 14px;
    }
}

